<!--Страница регистрации-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация Окно</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-3 row g-2">
        <button type="button" class="btn btn-primary" onclick="location.href='/'" >Запись подтверждена (продолжить)</button>
    </div>
    </form>
</div>
</body>
</html>