<!--Страница регистрации-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Регистрация</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Выберите специальность</h3>
    <form method="POST" class="needs-validation" novalidate style="max-width: 50vw" th:action="@{/registrations/addRegistration}" th:object="${specializationsForm}">
        <div class="mt-3 row g-2">
            <label for="specialization" class="form-label"></label>
            <select class="form-select" name="specialization" id="specialization" required>
                <option th:each="specialization : ${specializations}"
                        th:value="${specialization.getId()}" th:text="${specialization.getTitleSpecialization()}" ></option>
            </select>
            <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()" >Продолжить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>
