<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Записи</title>
</head>
<body>
<div layout:fragment="content">
    <h1 align="center">Архив записей клиентов</h1>
    <div class="row">
        <div class="col">
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО клиента</th>
                <th scope="col">ФИО врача</th>
                <th scope="col">Время записи</th>
                <th scope="col">Кабинет</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="registration : ${registrationsPaging}">
                <td th:text="${registration.getClient().getLastName() + ' ' + registration.getClient().getFirstName() + ' ' + registration.getClient().getMidName()}"></td>
                <td th:text="${registration.getDoctorSlot().getDoctor().getLastName() + ' ' +
                               registration.getDoctorSlot().getDoctor().getFirstName() + ' ' +
                               registration.getDoctorSlot().getDoctor().getMidName()}"></td>
                <td th:text="${registration.getDoctorSlot().getDay().getDay() + ' ' + registration.getDoctorSlot().getSlot().getTimeSlot()}"></td>
                <td th:text="${registration.getDoctorSlot().getCabinet().getCabinetNumber()}"></td>
                <td th:classappend="${registration.getIsActive() == false} ? 'not-active-reg' : 'active-reg'"
                    th:text="${registration.getIsActive()} == false ? 'Не активна' : 'Активна'"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Pagination" th:if="${registrationsPaging.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${registrationsPaging.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/registrations/listAll?page={id}(id=${registrationsPaging.number lt 2 ? 1 : registrationsPaging.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, registrationsPaging.totalPages, 1)}"
                th:classappend="${i eq registrationsPaging.number + 1} ? 'active'">
                <a class="page-link" th:href="@{/registrations/listAll?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${registrationsPaging.number eq registrationsPaging.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/registrations/listAll?page={id}(id=${registrationsPaging.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>