<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Запись</title>
</head>
<body>
<div layout:fragment="content">
<!--    <div>-->
<!--        <hr class="hr"/>-->
<!--        <h3 align="center">Поиск по расписанию</h3>-->
<!--        <form method="POST" th:action="@{/doctorslots/makeMeet/search}" th:object="${doctorSlotSearchForm}">-->
<!--            <div class="mt-0 row g-2">-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Фамилия">-->
<!--                        <label for="lastName">Фамилия</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="firstName" type="text" class="form-control" id="firstName" placeholder="Имя">-->
<!--                        <label for="firstName">Имя</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="midName" type="text" class="form-control" id="midName" placeholder="Отчество">-->
<!--                        <label for="midName">Отчество</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div class="col-md">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="form-floating">&ndash;&gt;-->
<!--&lt;!&ndash;                        <select class="form-select" name="specialization" id="specialization">&ndash;&gt;-->
<!--&lt;!&ndash;                            <option selected th:value="null">Выберете специализацию</option>&ndash;&gt;-->
<!--&lt;!&ndash;                            <option th:each="s : ${specializations}"&ndash;&gt;-->
<!--&lt;!&ndash;                                    th:value="${s.getTitleSpecialization()}"&ndash;&gt;-->
<!--&lt;!&ndash;                                    th:text="${s.getTitleSpecialization()}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                        </select>&ndash;&gt;-->
<!--&lt;!&ndash;                        <label for="specialization">Специализация</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="form-floating">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input name="day" type="date" class="form-control" id="day"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:min="${days.get(0).getDay()}" th:max="${days.get(days.size() - 1).getDay()}"&ndash;&gt;-->
<!--&lt;!&ndash;                               placeholder="Дата">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label for="day">Дата</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div class="row g-2">-->
<!--                    <button type="submit" class="btn btn-secondary">Фильтровать расписание</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--        <hr class="hr"/>-->
<!--    </div>-->
    <div><br></div>

    <h3 align="center">Доступно для записи</h3>
    <div><br></div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Врач</th>
                <th scope="col">Специализация</th>
                <th scope="col">Дата</th>
                <th scope="col">Кабинет</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ds : ${doctorslotsMUQM}" >
                <td th:text="${ds.getDoctorLastName() + ' ' + ds.getDoctorFirstName() + ' ' + ds.getDoctorMidName()}"></td>
                <td th:text="${ds.getTitleSpecialization()}"></td>
                <td th:text="${ds.getDay()}"></td>
                <td th:text="${ds.getCabinetNumber()}"></td>
                <td>
                    <a sec:authorize="hasRole('CLIENT')" class="btn btn-sm btn-info"
                       th:href="'/registrations/slots/' + ${ds.getDoctorId()} + '/' + ${ds.getDayId()}">Выбрать время</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Pagination" th:if="${doctorslotsMUQM.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${doctorslotsMUQM.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/doctorslots/makeMeet?page={id}(id=${doctorslotsMUQM.number lt 2 ? 1 : doctorslotsMUQM.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, doctorslotsMUQM.totalPages, 1)}"
                th:classappend="${i eq doctorslotsMUQM.number + 1} ? 'active'">
                <a class="page-link" th:href="@{/doctorslots/makeMeet?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${doctorslotsMUQM.number eq doctorslotsMUQM.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/doctorslots/makeMeet?page={id}(id=${doctorslotsMUQM.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>