<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
    <div layout:fragment="content">
        <div>
            <h3 align="center">поиск раписания по дате</h3>
            <form method="POST" th:action="@{/doctorslots/myScheduleSearch}" th:object="${doctorslotSearchFormDoctor}">
                <div class="mt-0 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="registrationDay" type="date" class="form-control" id="registrationDay" placeholder="Введите дату приема врача">
                            <label for="registrationDay">Дата приема врача</label>
                            <div class="invalid-feedback">Обязательное поле для заполнения</div>
                        </div>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти</button>
                </div>
            </form>
        </div>
        <hr class="hr"/>
        <h3 align="center">мое расписание </h3>
        <div class="row">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">День</th>
                    <th scope="col">Время</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctorslot : ${doctorslots}">
                    <td th:text="${#temporals.format(doctorslot.getDay().getDay(), 'dd-MM-yyyy')}"></td>
                    <td th:text="${doctorslot.getSlot().getTimeSlot()}"></td>
                    <td th:text="${doctorslot.getCabinet().getCabinetNumber()}"></td>
                    <td th:classappend="${doctorslot.getIsRegistered() == false} ? 'not-active-reg' : 'active-reg'"
                        th:text="${doctorslot.getIsRegistered()} == false ? 'Свободно' : 'Занято'"></td>
<!--                    <td>-->
<!--                        <div sec:authorize="isAuthenticated() && (hasRole('DOCTOR'))">-->
<!--                            <a class="btn btn-sm btn-outline-danger" th:href="'/registrations/deleteRecord/' + ${doctorslot.getId()}">Удалить</a>-->
<!--                        </div>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>