<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
    <div layout:fragment="content">
        <div>
            <h3 align="center">поиск раписания врачей</h3>
            <form method="POST" th:action="@{/doctorslots/search}" th:object="${doctorslotSearchFormAdmin}">
                <div class="mt-0 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="doctorLastName" type="text" class="form-control" id="doctorLastName" placeholder="Фамилия врача">
                            <label for="doctorLastName">Фамилия врача</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="doctorFirstName" type="text" class="form-control" id="doctorFirstName" placeholder="Имя врача">
                            <label for="doctorFirstName">Имя врача</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="doctorMiddleName" type="text" class="form-control" id="doctorMiddleName" placeholder="Отчество врача">
                            <label for="doctorMiddleName">Отчество врача</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="titleSpecialization" type="text" class="form-control" id="titleSpecialization" placeholder="Специализация врача">
                            <label for="titleSpecialization">Специализация врача</label>
                        </div>
                    </div>
                </div>
                <div class="mt-0 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="registrationDay" type="date" class="form-control" id="registrationDay" placeholder="Введите дату приема врача">
                            <label for="registrationDay">Дата приема врача</label>
                            <div class="invalid-feedback">Обязательное поле для заполнения</div>
                        </div>
                    </div>
                </div>
                <div><br></div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти</button>
                </div>
            </form>
        </div>
        <hr class="hr"/>
        <h3 align="center">текущее расписание врачей</h3>
        <div class="row">
            <div class="col">
                <a href="/doctorslots/deleteSchedule"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Удалить</a>
                <a href="/doctorslots/addSchedule"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить</a>
<!--                <a href="/doctorslots"-->
<!--                   class="btn btn-sm btn-success"-->
<!--                   role="button"-->
<!--                   style="float: left"-->
<!--                   aria-disabled="true">Общее расписание</a>-->
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Специализация</th>
                    <th scope="col">День</th>
<!--                    <th scope="col" th:text="${flagTime lt 1 ? '     ' : 'Время'}"></th>-->
                    <th scope="col">Время</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctorslot : ${doctorslots}">
                    <td th:text="${doctorslot.getDoctor().getLastName() + ' '
                        + doctorslot.getDoctor().getFirstName().charAt(0) + '. '
                        + doctorslot.getDoctor().getMidName().charAt(0) + '.'}"></td>
                    <td th:text="${doctorslot.getDoctor().getSpecialization().getTitleSpecialization()}"></td>
                    <td th:text="${doctorslot.getDay().getDay()}"></td>
                    <td th:text="${doctorslot.getSlot().getTimeSlot()}"></td>
                    <td th:text="${doctorslot.getCabinet().getCabinetNumber()}"></td>
                    <td
                        th:text="${doctorslot.getDay().getDay() < currentDate ? 'архив' : (doctorslot.getIsRegistered() == false ? 'Свободно' : 'Занято')}"></td>
<!--                        th:text="${doctorslot.getIsRegistered()} == false ? 'Свободно' : 'Занято'"></td>-->
<!--                    th:classappend="${doctorslot.getIsRegistered() == false} ? 'not-active-reg' : 'active-reg'"-->
                </tr>
                </tbody>
            </table>
        </div>
<!--        <nav aria-label="Pagination" th:if="${doctorslots.totalPages gt 0}">-->
<!--            <ul class="pagination justify-content-center font-weight-bold">-->
<!--                <li class="page-item" th:classappend="${doctorslots.number eq 0} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/doctorslots/getActualSchedule?page={id}(id=${doctorslots.number lt 2 ? 1 : doctorslots.number})}"-->
<!--                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item"-->
<!--                    th:each="i : ${#numbers.sequence(1, doctorslots.totalPages, 1)}"-->
<!--                    th:classappend="${i eq doctorslots.number + 1} ? 'active'">-->
<!--                    <a class="page-link" th:href="@{/doctorslots/getActualSchedule?page={id}(id=${i})}" th:text="${i}"-->
<!--                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${doctorslots.number eq doctorslots.totalPages - 1} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/doctorslots/getActualSchedule?page={id}(id=${doctorslots.number + 2})}"-->
<!--                       aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
    </div>
</body>
</html>